<h1>GAME PAGE </h1>

<h2>Pick Between Rock/Paper/Scissors</h2>

<p>Round: <%= @count %></p>
<p>Computer Choice: <%= @computer_choice %></p>
<p>Result: <%= @result %></p>


<a href="/game/throw/rock">
<button type="button" name="button">ROCK</button>
</a>

<a href="game/throw/paper">
<button type="button" name="button">PAPER</button>
</a>

<a href="game/throw/scissors">
<button type="button" name="button">SISSORS</button>
</a>
